@font-face {
  font-family: "Open-Sans-regular";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Open-Sans-bold";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Tinos";
  src: url(../fonts/Tinos-Regular.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1025px) {
  .container {
    max-width: unset;
    padding: 0 10px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: unset;
    padding: 8 14px;
  }
}

.btn {
  cursor: pointer;
  background-color: #FF7400;
  color: #fff;
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 14px;
  padding: 14px 18px;
}

.main {
  background: url(../img/background.png) no-repeat center center/cover;
  height: 100vh;
}
@media (max-width: 863px) {
  .main {
    background: url(../img/background.png) no-repeat top center/cover;
  }
}
@media (max-width: 500px) {
  .main {
    height: unset;
    padding-bottom: 305px;
  }
}
.main__block {
  max-width: 550px;
  margin-top: 154px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 863px) {
  .main__block {
    margin-top: 54px;
  }
}
@media (max-width: 500px) {
  .main__block {
    margin-top: 250px;
  }
}
.main__subtitle {
  font-family: Tinos;
  font-weight: 400;
  color: #D67E34;
  font-size: 50px;
}
@media (max-width: 863px) {
  .main__subtitle {
    font-size: 30px;
  }
}
.main__title {
  font-family: Tinos;
  font-weight: 400;
  color: #D67E34;
  font-size: 80px;
  margin-bottom: 12px;
}
@media (max-width: 863px) {
  .main__title {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .main__title {
    font-size: 40px;
  }
}
.main__text {
  font-family: Open-Sans-regular;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main__text::before, .main__text::after {
  content: "";
  display: block;
  width: 61px;
  height: 2px;
  background-color: #fff;
}
@media (max-width: 500px) {
  .main__text::before, .main__text::after {
    display: none;
  }
}
.main__btn {
  text-transform: uppercase;
}
@media (max-width: 863px) {
  .main__btn {
    text-align: center;
  }
}

.header {
  padding: 50px 34px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 100px;
}
.header__logo img {
  width: 100%;
}
@media (max-width: 863px) {
  .header__logo {
    width: 75px;
  }
}
@media (max-width: 749px) {
  .header__logo {
    width: 45px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 749px) {
  .header__burger {
    display: block;
  }
}
.header__block {
  display: flex;
  align-items: center;
}
@media (max-width: 749px) {
  .header__block {
    display: none;
  }
}
.header__menu {
  display: flex;
  gap: 23px;
  margin-right: 36px;
  text-transform: uppercase;
}
@media (max-width: 863px) {
  .header__menu {
    font-family: Open-Sans-regular;
    font-weight: 400;
    font-size: 12px;
  }
}
.header__link {
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.header__link:hover {
  color: #656363;
}
@media (max-width: 863px) {
  .header__link {
    font-family: Open-Sans-regular;
    font-weight: 400;
    font-size: 12px;
  }
}
.header__box {
  display: flex;
  align-items: center;
  margin-right: 45px;
}
@media (max-width: 863px) {
  .header__box {
    margin-right: 25px;
  }
}
.header__cart {
  border-right: 1px solid #fff;
  padding: 17px 21px 17px 0;
  margin-right: 34px;
}
@media (max-width: 863px) {
  .header__cart {
    margin-right: 20px;
  }
}
.header__phone-link {
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: flex;
  gap: 8px;
}
.header__phone-link::before {
  content: "";
  background: url(../img/phone.svg);
  display: block;
  width: 23px;
  height: 23px;
}
@media (max-width: 863px) {
  .header__phone-link {
    font-family: Open-Sans-regular;
    font-weight: 400;
    font-size: 12px;
  }
}
.header__phone-text {
  font-family: Open-Sans-regular;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  max-width: 155px;
}
.header__btn {
  color: #FF7400;
  text-transform: uppercase;
}
@media (max-width: 863px) {
  .header__btn {
    text-align: center;
  }
}

.history {
  padding-top: 200px;
  padding-bottom: 120px;
}
.history__card {
  width: 349px;
  height: 328px;
  box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.247);
  background-color: #fff;
  padding: 48px 40px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -315px;
  margin-bottom: 150px;
}
@media (max-width: 1000px) {
  .history__card {
    width: 100%;
    padding: 10px;
  }
}
.history__card-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 1000px) {
  .history__card-wrap {
    display: flex;
    flex-direction: column;
    gap: 190px;
  }
}
.history__card-title {
  color: #2C2C2C;
  font-family: Tinos;
  font-weight: 400;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.history__card-title span {
  color: #BC9060;
}
@media (max-width: 500px) {
  .history__card-title {
    font-size: 26px;
  }
}
.history__card-text {
  color: #656363;
  font-family: Tinos;
  font-weight: 400;
  font-size: 26px;
}
@media (max-width: 500px) {
  .history__card-text {
    font-size: 22px;
  }
}
.history__bottom-back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;
}
@media (max-width: 863px) {
  .history__bottom-back {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.history__bottom-back__text-part {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.history__bottom-back__text-part__title {
  font-size: 54px;
  font-family: Tinos;
  font-weight: 400;
  margin-bottom: 21px;
}
.history__bottom-back__text-part__title span {
  color: #D67E34;
}
@media (max-width: 863px) {
  .history__bottom-back__text-part__title {
    margin: auto;
    margin-bottom: 48px;
    font-size: 40px;
    width: 181px;
    height: 92px;
  }
}
.history__bottom-back__text-part__subtitle {
  width: 444px;
  height: 217px;
  color: #656363;
  font-family: Open-Sans-regular;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 39px;
}
@media (max-width: 863px) {
  .history__bottom-back__text-part__subtitle {
    font-size: 16px;
    width: 290px;
    height: 341px;
  }
}
.history__bottom-back__img-part {
  width: 539px;
  height: 498px;
  margin-bottom: 122px;
}
@media (max-width: 863px) {
  .history__bottom-back__img-part {
    width: 290px;
    height: 257px;
    margin-bottom: 51px;
  }
}
.history__bottom-back__food-counts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
@media (max-width: 863px) {
  .history__bottom-back__food-counts {
    flex-direction: column;
  }
}
.history__bottom-back__food-count {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}
.history__bottom-back__food-count span {
  color: #BC9060;
  font-size: 40px;
}
@media (max-width: 863px) {
  .history__bottom-back__food-count {
    gap: 2px;
  }
}

.order {
  background: url(../img/bg.svg) no-repeat center center/cover;
}
.order__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px;
}
.order__block__text {
  width: 601px;
  height: 173px;
}
.order__block__text__title {
  font-family: Tinos;
  font-weight: 400;
  font-size: 52px;
  width: 601px;
  height: 120px;
  color: #D67E34;
  margin-bottom: 20px;
}
@media (max-width: 863px) {
  .order__block__text__title {
    display: flex;
    align-items: center;
  }
}
.order__block__text__subtitle {
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  width: 542px;
  height: 33px;
}
.order__btn {
  display: block;
  width: 157px;
  height: 47px;
  text-transform: uppercase;
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 14px;
  background-color: #FF7400;
  color: #FFF;
}

.cooker {
  padding-bottom: 250px;
}
.cooker__title-text {
  color: #2C2C2C;
  font-size: 54px;
  text-align: center;
  margin-top: 5;
  margin-bottom: 20px;
}
.cooker__title-text span {
  color: #BC9060;
}
.cooker__images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 769px) {
  .cooker__images {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .cooker__images {
    gap: 15px;
  }
}

.menu {
  padding-top: 137px;
  background-image: url(../img/bar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.menu__title {
  font-family: Tinos;
  font-size: 54px;
  padding-top: 90px;
  color: #FFF;
  text-align: center;
  padding-bottom: 138px;
}
.menu__item {
  background-color: #FFF;
  text-align: center;
  width: 33%;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-right: 20px;
}
.menu__text {
  font-family: "Tinos";
  font-size: 26px;
  padding-top: 16px;
  padding-bottom: 17px;
}
.menu__subtext {
  font-size: 16px;
}
.menu__btn {
  background-color: #FF7400;
  text-decoration: none;
  padding: 14px 67px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.menu__button {
  margin-top: 20px;
}
.menu__price__img {
  position: absolute;
  bottom: 0;
  right: 32px;
}
.menu__image {
  position: relative;
}
.menu__price__420 {
  position: absolute;
  bottom: 34px;
  right: 56px;
  color: #FFF;
  font-size: 36px;
}
.menu__items {
  display: flex;
  justify-content: center;
}

.coment {
  background-color: #E5E5E5;
  padding-top: 104px;
  padding-bottom: 139px;
}
.coment__text {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 22px;
}
.coment__img {
  border-radius: 50px;
}
.coment__image {
  text-align: center;
}
.coment__type {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.coment__name {
  padding-top: 9px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1300px) {
  .menu__items {
    display: block;
  }
  .menu__item {
    margin: 20px auto;
    width: 600px;
  }
  .container {
    position: static;
  }
  .cooker__images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
.order {
  display: block;
}
.order__block-text__title {
  text-align: center;
}
.order__block-text__subtitle, .order__blockbtn {
  text-align: center;
}
.order__btn {
  margin-top: 30px;
}